# Ignore node_modules folder
node_modules/

# Ignore Expo-related files
.expo/
dist/
web-build/

# Ignore npm-related debug files
npm-debug.*

# Ignore Android/iOS related files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Ignore backup or temporary files
*.orig.*

# Ignore macOS specific files
.DS_Store

# Ignore generated Expo files
expo-env.d.ts

# Ignore your environment variables file
.env
